# Estructures de dades

## Listas

In [1]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
mylist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [2]:
mylist[0]

'apple'

In [3]:
mylist[-1]

'mango'

In [4]:
len(mylist)

7

In [5]:
type(mylist)

list

In [6]:
mylist[2:5]

['cherry', 'orange', 'kiwi']

In [7]:
mylist[:4]

['apple', 'banana', 'cherry', 'orange']

In [8]:
mylist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [9]:
mylist[-4:-1]

['orange', 'kiwi', 'melon']

### operador in

In [10]:
if "apple" in mylist:
    print("appleeeee")

appleeeee

### insert

In [11]:
mylist.insert(2, "watermelon")
mylist

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### extend

In [12]:
tropical = ["pineapple", "papaya"]
mylist.extend(tropical)
mylist

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'pineapple',
 'papaya']

### remove

In [13]:
mylist.remove('papaya')
mylist

['apple',
 'banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'pineapple']

### pop

In [14]:
mylist.pop(0)

'apple'

In [15]:
mylist

['banana',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'pineapple']

### del / clear

In [16]:
# del mylist
# Elimina la lista entera
# mylist.clear()
# vacia la lista

### iterar lista

In [17]:
for item in mylist:
    print(item)

banana
watermelon
cherry
orange
kiwi
melon
mango
pineapple

In [18]:
for i in range(len(mylist)):
    print(str(i) + ' > ' + mylist[i])

0 > banana
1 > watermelon
2 > cherry
3 > orange
4 > kiwi
5 > melon
6 > mango
7 > pineapple

### iterar con list comprehension

In [19]:
[print(x) for x in mylist]

banana
watermelon
cherry
orange
kiwi
melon
mango
pineapple

[None, None, None, None, None, None, None, None]

In [20]:
result = [x for x in mylist if "a" in x]
result

['banana', 'watermelon', 'orange', 'mango', 'pineapple']

In [21]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [23]:
newlist = [x.upper() for x in mylist]
newlist

['BANANA',
 'WATERMELON',
 'CHERRY',
 'ORANGE',
 'KIWI',
 'MELON',
 'MANGO',
 'PINEAPPLE']

In [24]:
newlist = [x if x != "banana" else "orange" for x in mylist]
newlist

['orange',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'pineapple']

### sort

In [25]:
mylist.sort()
mylist

['banana',
 'cherry',
 'kiwi',
 'mango',
 'melon',
 'orange',
 'pineapple',
 'watermelon']

In [26]:
mylist.sort(reverse=True)
mylist

['watermelon',
 'pineapple',
 'orange',
 'melon',
 'mango',
 'kiwi',
 'cherry',
 'banana']

### sort con custom function

In [27]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### case insensitive sort

In [28]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Copiar listas

In [29]:
copia = mylist.copy()
copia

['watermelon',
 'pineapple',
 'orange',
 'melon',
 'mango',
 'kiwi',
 'cherry',
 'banana']

In [30]:
copia = list(mylist)
copia

['watermelon',
 'pineapple',
 'orange',
 'melon',
 'mango',
 'kiwi',
 'cherry',
 'banana']

### Unión listas

In [31]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

### Metodos listas
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert(): Adds an element at the specified position
- pop(): Removes the element at the specified position
- remove(): Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

## Tuplas

In [33]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [34]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
thistuple

('apple', 'banana', 'cherry', 'orange')

### Unpacking a tuple

In [39]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
green

'apple'

In [42]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
red

['cherry', 'strawberry', 'raspberry']

In [43]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
tropic

['mango', 'papaya', 'pineapple']

## Sets